services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ../.env

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    env_file:
      - ../.env
    ports:
      - "127.0.0.1:8002:80"

#   db:
#     image: postgres:16
#     profiles:
#       - db
#     env_file:
#       - ../.env
#     environment:
#       POSTGRES_USER: ${DB_USER}
#       POSTGRES_PASSWORD: ${DB_PASS}
#       POSTGRES_DB: ${DB_NAME}
#     volumes:
#       - pgdata:/var/lib/postgresql/data

# volumes:
#   pgdata:
